.title {
    background: #731816;
    color:#00AADE;
    font-size: 30vw;
    font-weight: bold;
}

.button_menu {
    background-color:#F9B234;
    border-color: black;
    border-width: 4vw;
    border-radius: 150vw;
    color: black;
    padding: 15vw;
    text-align: center;
    font-size: 30vw;
    font-weight: bold;
    height:100vw;
    width: 275vw;
}

.button_menu_beach {
    background-color:#00AADE;
    border-color: black;
    border-width: 4vw;
    border-radius: 150vw;
    color: black;
    padding: 15vw;
    text-align: center;
    font-size: 30vw;
    font-weight: bold;
    height:100vw;
    width: 275vw;
}

.page_menu {
    background: #731816;
}

.text_game {
    color:#F9B234;
    font-size: 30vw;
    font-weight: bold;
}

.text_ranking {
    color:#F9B234;
    font-size: 30vw;
    font-weight: bold;
}

.text_settings {
    color:#F9B234;
    font-size: 30vw;
    font-weight: bold;
}

.text_schedule {
    color:#00DA00;
    font-size: 30vw;
    font-weight: bold;
}

.text_item_schedule {
    color:#F9B234;
    font-size: 20vw;
    font-weight: bold;
}

.text_ranking_poule {
    color:#F9B234;
    font-size: 22vw;
    font-weight: bold;
}

.text_item_ranking {
    color:#F9B234;
    font-size: 20vw;
    font-weight: bold;
}

.text_item_game {
    color:#F9B234;
    font-size: 30vw;
    font-weight: bold;
}

.text_item_news {
    color:#F9B234;
    font-size: 35vw;
    font-weight: bold;
}

.text_item_beach {
    color:#F9B234;
    font-size: 35vw;
    font-weight: bold;
}

.button_team {
    background-color: #F9B234;
    border-width: 3vw;
    border-color: black;
    color: black;
    text-align: center;
    font-size: 20vw;
    font-weight: bold;
    border-radius: 25vw;
}
