/* Import shared style rules */
@import './main-page-common.css';

.spacer_menu {
    font-size: 1vw;
}

.spacer_big_menu {
    font-size: 2vw;
}

.spacer_text_item {
    font-size: 25vw;
}

.button_team {
    background-color: #F9B234;
    border-width: 2vw;
    border-color: black;
    color: black;
    text-align: center;
    font-size: 15vw;
    font-weight: bold;
    border-radius: 25vw;
    height: 40vw;
    width:65vw;
}