/* Import shared style rules */
@import './main-page-common.css';

.text_item_schedule {
    color:#F9B234;
    font-size: 16vw;
    font-weight: bold;
}

.spacer {
    font-size: 10vw;
}

.spacer_menu {
    font-size: 20vw;
}

.spacer_big_menu {
    font-size: 40vw;
}


.spacer_text_item {
    font-size: 25vw;
}