.title {
    background: #731816;
    color:#00AADE;
    font-size: 30vw;
    font-weight: bold;
}

.button_menu {
    background-color:#F9B234;
    border-color: black;
    border-width: 4vw;
    border-radius: 150vw;
    color: black;
    padding: 15vw;
    text-align: center;
    font-size: 30vw;
    font-weight: bold;
    height:100vw;
    width: 275vw;
}

.page_menu {
    background: #731816;
}
